@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cor-primaria: #011C51;
  --cor-bg: #ffffff;
  --branco-bg: #fff;
  --dark-texto-cor: #363b46;
  --light-texto-cor: #fff;
  --hover-cor: #f1e8fd;
  --extra-light: #f3f4f6;
  --max-width: 800px;
}

body.modo-escuro {
  --cor-primaria: #015A96;
  --cor-bg: #1e1e1e;
  --branco-bg: #23262b;
  --dark-texto-cor: #fff;
  --light-texto-cor: #fff;
  --hover-cor: #31313f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  font-size: 18px;
  margin: 10px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cor-bg);
  overflow-x: hidden;
}


/*Menu*/
.container {
  position: absolute;
  width: 85px;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--branco-bg);
  transition: all 0.3s ease;
  z-index: 2000;
}

.container.active {
  width: 250px;
}

.link-items .logo {
  height: 40px;
  width: 40px;
}

.link-items .logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.link-item:last-child {
  margin-top: 100px;
}

.link-item a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 16px;
  white-space: nowrap;
  text-transform: capitalize;
  color: var(--dark-texto-cor);
}

.link-item a span {
  transition: transform 0.5s;
  transform: translateX(100px);
}

.link-item:last-child span h4 {
  line-height: 1;
}

.link-item:last-child span p {
  font-size: 12px;
}

.container.active .link-item a span {
  transition-delay: calc(0.02s * var(--i));
  transform: translateX(0px);
}

.link-item a:hover {
  background-color: var(--hover-cor);
}

.link-item.active a {
  color: var(--light-texto-cor);
  background-color: var(--cor-primaria);
}

.link-item ion-icon {
  min-width: 20px;
  min-height: 20px;
  margin-right: 20px;
  position: relative;
}

.link-item img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  border-radius: 50%;
}

.link-item ion-icon.noti-icon::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  right: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--cor-primaria);
  border: 1px solid var(--branco-bg);
}

.link-item a .num-noti {
  margin-left: 40px;
  font-size: 12px;
  color: var(--light-texto-cor);
  background-color: var(--cor-primaria);
  min-width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.link-item.active a .num-noti {
  color: var(--cor-primaria);
  background-color: var(--branco-bg);
}
/*Seção*/

.section__container {
  padding: 15rem 10rem;
  max-width: var(--max-width);
  left: 100px;
  text-align: left;
}

/* Hero Section */
.inicio {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  border-radius: 20px;
  overflow: hidden;
}

.inicio-conteudo {
  margin-left: 100px;
  max-width: 800px;
  color: #181818;
}

.inicio-conteudo h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.inicio-conteudo p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.inicio-conteudo .btn {
  padding: 10px 20px;
  background-color: #011C51;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.inicio-imagem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1; 
}
.video-container {
  max-width: 50%;
}